body {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: #313131;
}

a {
    color: #313131;
    text-decoration: none;
    transition: color 0.15s ease;
}

a:hover {
    color: #759cec;
}

button {
    border: 0;
    outline: none;
    cursor: pointer;
}

.container {
    max-width: 1190px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.btn-primary {
    display: block;
    padding: 20px 35px;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    color: #212944;
    background: #f7d100;
    transition: color 0.3s ease-out, background 0.3s ease-out;
    border-radius: 40px;
    white-space: nowrap;
}

.btn-primary:hover {
    color: #fff;
    background: #759cec;
}

.btn-xs {
    padding: 10px 15px;
    font-size: 14px;
}

.text-blue {
    color: #789eed;
}

.text-pink {
    color: #d70174;
}

.unscroll {
    overflow: hidden;
}

.modal {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    position: fixed;
    top: 40px;
    left: 15px;
    right: 15px;
    z-index: 20;
    max-width: 800px;
    max-height: calc(100vh - 150px);
    overflow-y: auto;
    margin: 0 auto;
    padding: 30px;
    background: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.modal-close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    background: transparent;
}

/** Overlay */
.overlay {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 19;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

/** JS */
.is-visible {
    opacity: 1;
    pointer-events: auto;
}

.header-top {
    padding: 10px 0;
}

.logo {
    max-height: 43px;
}

.error-text {
    color: #d70122;
    text-align: center;
    margin: 0 auto;
    display: block;
    text-transform: none;
    font-weight: 500;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.2s ease;
}

.error~.error-text {
    max-height: 40px;
}

.header-text {
    max-width: 320px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
}

.header-phone {
    margin-bottom: 7px;
    font-size: 16px;
    font-weight: 700;
}

.header-mail {
    margin-bottom: 7px;
    font-size: 14px;
    font-weight: 700;
}

.header-phone img,
.header-mail img {
    padding-right: 7px;
    width: 16px;
}

.header-nav {
    background: #eef0f6;
}

.header-nav .nav>a {
    display: block;
    position: relative;
    z-index: 2;
    padding: 10px 15px;
    flex-grow: 1;
    text-align: center;
    color: #313131;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease-out, background 0.3s ease-out;
}

.header-nav .nav>a:hover {
    color: #fff;
    background: #759cec;
}

.header-nav .nav>a::after {
    content: '';
    position: absolute;
    left: -1px;
    top: 16px;
    z-index: -1;
    height: 10px;
    width: 1px;
    border-left: 1px solid #888c99;
}

.header-nav .nav>a:first-child::after {
    content: none;
}

.header-nav .nav>a:hover::after {
    display: none;
}

/* header menu mob */
.header-nav .header-contact {
    display: none;
}

.toggle-menu-mob {
    display: none;
}

.toggle-menu-mob+label {
    display: none;
}

@media (max-width: 768px) {
    .toggle-menu-mob {
        display: block;
        position: relative;
    }

    .header-top {
        position: relative;
        z-index: 4;
        background: #fff;
    }

    .header-top .header-contact {
        display: none;
    }

    .header-nav .header-contact {
        display: block;
    }

    .header-nav .toggle-menu-mob {
        position: absolute;
        top: 25px;
        right: 15px;
        height: 20px;
        width: 25px;
        opacity: 0;
        z-index: 6;
    }

    .header-nav .burger-lines {
        display: unset;
        position: absolute;
        top: 25px;
        right: 15px;
        height: 20px;
        width: 25px;
        z-index: 5;
    }

    .header-nav .burger-lines span {
        position: absolute;
        width: 100%;
        top: 50%;
        margin-top: -1px;
        left: 0;
        display: block;
        border-bottom: 3px solid #212944;
        transition: 0.5s;
    }

    .header-nav .burger-lines span:first-child {
        top: 2px;
    }

    .header-nav .burger-lines span:last-child {
        top: 17px;
    }

    .header-nav .burger-lines:hover {
        cursor: pointer;
    }

    .header-nav.active .burger-lines span {
        opacity: 0;
        top: 50%;
    }

    .header-nav.active .burger-lines span:first-child {
        opacity: 1;
        transform: rotate(405deg);
    }

    .header-nav.active .burger-lines span:last-child {
        opacity: 1;
        transform: rotate(-405deg);
    }

    .header-nav .nav {
        background: #fff;
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        transition: 0.5s;
        overflow: hidden;
        text-align: center;
        transform: translateY(-100%);
    }

    .header-nav .nav>a {
        flex-grow: unset;
        padding: 15px 0;
        opacity: 0;
        transition: 0.5s;
    }

    .header-nav .nav>a:first-child {
        margin-top: 40px;
    }

    .header-nav .nav>.header-contact {
        padding-top: 50px;
        opacity: 0;
        transition: 0.5s;
    }

    .header-nav.active .nav {
        transform: translateY(0);
    }

    .header-nav.active .nav>a,
    .header-nav.active .nav>.header-contact {
        opacity: 1;
    }

    .header-nav .nav>a::after {
        border: 0;
    }
}

/* main */
.main {
    background: url('../images/main-bg.jpg') no-repeat center / cover;
}

.main-top {
    padding-top: 50px;
    padding-bottom: 30px;
}

.main-title {
    max-width: 520px;
    margin-bottom: 20px;
    font-size: 51px;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
}

.main-title .blue-text {
    font-size: 65px;
}

.main-list-item {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-list-item img {
    padding: 5px 20px 5px 0;
    width: 50px;
}

.main-list .main-list-item:nth-child(1) img {
    border-right: 4px solid #00a4e5;
}

.main-list .main-list-item:nth-child(2) img {
    border-right: 4px solid #dd0077;
}

.main-list .main-list-item:nth-child(3) img {
    border-right: 4px solid #f1ed00;
}

.main-list-item div {
    max-width: 220px;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: #fff;
}

.main-list-item .small-text {
    display: block;
    font-size: 16px;
    font-weight: 400;
}

.main-bottom {
    padding: 40px 40px 50px;
    background: rgba(36, 49, 76, 0.75);
    border-top: 4px solid #7fa9ff;
}

.main-bottom-title {
    padding-bottom: 10px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.main-bottom-text {
    padding-bottom: 40px;
    text-align: center;
    font-size: 18px;
    color: #fff;
}

.main-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.main-form div {
    flex-grow: 1;
    margin-right: 25px;
    position: relative;
}

.main-form img {
    position: absolute;
    left: 29px;
    top: 27px;
    height: 15px;
}

.main-form input {
    width: 100%;
    padding: 25px 15px 25px 50px;
    font-size: 17px;
    color: #313131;
    font-weight: 400;
    border-radius: 40px;
    border: 0px;
    outline: none;
    box-sizing: border-box;
}

.main-form input::placeholder {
    color: #313131;
    font-weight: 400;
}

.main-thanks {
    height: calc(100vh - 148px);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-thanks .main-top {
    padding: 30px 0;
}

.main-thanks .main-title {
    margin-bottom: 10px;
    font-size: 70px;
}

.main-text {
    font-size: 20px;
    color: #fff;
}

/* stock */
.stock {
    padding: 70px 0;
    background: url('../images/book-bg.jpg') no-repeat center / cover;
    text-transform: uppercase;
}

.stock-title {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 900;
    color: #fff;
}

.stock-title-white {
    padding: 6px 20px;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 900;
    color: #313131;
    background: #fff;
}

.stock-title-blue {
    padding: 6px 20px;
    font-size: 40px;
    font-weight: 900;
    color: #fff;
    background: #759cec;
}

/* services */
.services {
    padding: 70px 0 80px;
    background: #f8f9fa;
}

.services-title {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.services-subtitle {
    display: block;
    padding-top: 5px;
    font-size: 30px;
    font-weight: 500;
}

.services-title .dash {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -17.5px;
    width: 35px;
    border-bottom: 3px solid #d70174;
}

.services-title .dash::before {
    content: '';
    position: absolute;
    top: 0;
    left: -45px;
    width: 35px;
    border-bottom: 3px solid #00a4e5;
}

.services-title .dash::after {
    content: '';
    position: absolute;
    top: 0;
    right: -45px;
    width: 35px;
    border-bottom: 3px solid #f1ed00;
}

.services-example-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 -15px;
}

.services-example-content .services-card {
    position: relative;
    width: 25%;
    padding: 0 15px;
}

.services-example-content .services-card_img {
    margin-bottom: 20px;
    max-width: 260px;
    max-height: 260px;
    height: 100%;
    width: 100%;
    border: 7px solid #fff;
    border-bottom-width: 30px;
    overflow: hidden;
}

.services-example-content .services-card_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.services-example-content .services-card_img::before {
    content: '';
    position: absolute;
    top: -1px;
    right: 8px;
    z-index: 3;
    width: 10px;
    height: 10px;
    border-bottom: solid 29px #f8f9fa;
    border-left: solid 29px #f8f9fa;
    border-right: solid 29px transparent;
    border-top: solid 29px transparent;
    transform: rotate(180deg);
    box-sizing: border-box;
}

.services-example-content .services-card_img::after {
    content: '';
    position: absolute;
    top: 4px;
    right: 13px;
    z-index: 2;
    width: 10px;
    height: 10px;
    border-bottom: solid 29px #fff;
    border-left: solid 29px #fff;
    border-right: solid 29px transparent;
    border-top: solid 29px transparent;
    transform: rotate(180deg);
    box-sizing: border-box;
}

.services-example-content .services-card_title {
    position: relative;
    min-height: 75px;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.services-example-content .services-card_title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90px;
    border-bottom: 2px solid #759cec;
}

.services-example-content .services-card_text {
    font-size: 16px;
}

/* service 2 */
.services-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -7px;
}

.services-content .services-card {
    position: relative;
    padding: 7px;
    width: 50%;
    box-sizing: border-box;
}

.services-content .services-card:nth-child(1)::before,
.services-content .services-card:nth-child(3)::before {
    content: '';
    position: absolute;
    top: 50%;
    right: -25px;
    margin-top: -25px;
    z-index: 3;
    width: 50px;
    height: 50px;
    background: #F1F2F3;
    border-radius: 50%;
}

.services-content .services-card:nth-child(1)::after,
.services-content .services-card:nth-child(3)::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -15px;
    margin-top: -15px;
    z-index: 4;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.07);

}

.services-content .services-card-inner {
    position: relative;
    height: 100%;
    padding: 40px 30px;
    background: #fff;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
}

.services-content .services-card-inner::after {
    content: '';
    position: absolute;
    top: -1px;
    font-size: 200px;
    font-weight: 600;
    line-height: 138px;
    color: rgba(33, 41, 68, 0.12);
}

.services-content .services-card:nth-child(1) .services-card-inner::after {
    content: '1';
    right: -20px;
}

.services-content .services-card:nth-child(2) .services-card-inner::after {
    content: '2';
    right: -14px;
}

.services-content .services-card:nth-child(3) .services-card-inner::after {
    content: '3';
    right: -19px;
}

.services-content .services-card:nth-child(4) .services-card-inner::after {
    content: '4';
    right: -27px;
}

.services-content .triangle::before,
.services-content .triangle::before {
    content: '';
    position: absolute;
    top: 50%;
    right: -11px;
    z-index: 5;
    margin-top: -6px;
    width: 5px;
    height: 0px;
    border-left: solid 9px #20222c;
    border-bottom: solid 6px transparent;
    border-top: solid 6px transparent;
}

.services-content .services-card_img img {
    max-width: 75px;
}

.services-content .services-card_title {
    padding: 15px 0;
    max-width: 350px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.services-content ul {
    list-style: none;
    padding: 0;
}

.services-content li {
    position: relative;
    padding: 0 0 15px 20px;
}

.services-content li::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 2px;
    width: 7px;
    height: 7px;
    border: 2px solid #00a4e5;
    border-radius: 50%;
    ;
}

/* services warranty */
.services-warranty {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 7px;
    padding: 30px 40px;
    background: #f1ed00;
}

.services-warranty_img img {
    max-width: 80px;
}

.services-warranty_title {
    max-width: 250px;
    padding: 0 25px;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
}

.services-warranty_text {
    max-width: 550px;
    padding: 2px 0 2px 30px;
    font-size: 20px;
    font-weight: 700;
    border-left: 1px solid #000;
}

/* about */
.about {
    padding: 70px 0 80px;
}

.about-title {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
}

.about-title-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about-title-inner>div:first-child {
    max-width: 650px;
    width: 100%;
}

.about-subtitle {
    display: block;
    max-width: 450px;
    padding: 5px 0 5px 20px;
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
    border-left: 1px solid #000;
}

.about-title .dash {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -17.5px;
    width: 35px;
    border-bottom: 3px solid #d70174;
}

.about-title .dash::before {
    content: '';
    position: absolute;
    top: 0;
    left: -45px;
    width: 35px;
    border-bottom: 3px solid #00a4e5;
}

.about-title .dash::after {
    content: '';
    position: absolute;
    top: 0;
    right: -45px;
    width: 35px;
    border-bottom: 3px solid #f1ed00;
}

.about-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 0;
}

.about-text-wrapper {
    flex-basis: 51%;
    padding: 0 20px;
    box-sizing: border-box;
}

.about-card_img {
    flex-basis: 49%;
    max-height: 240px;
    border: 8px solid #f2f2f2;
    overflow: hidden;
    box-sizing: border-box;
}

.about-card_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-card_title {
    padding: 15px 0;
    max-width: 350px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.about-content ul {
    list-style: none;
    padding: 0;
}

.about-content li {
    position: relative;
    padding: 0 0 15px 20px;
}

.about-content li::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 2px;
    width: 7px;
    height: 7px;
    border: 2px solid #00a4e5;
    border-radius: 50%;
    ;
}

/* review */
.review {
    padding: 70px 0 80px;
    background: #f8f9fa;
}

.review-title {
    position: relative;
    max-width: 870px;
    padding-bottom: 20px;
    margin: 0 auto 40px;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.review-subtitle {
    display: block;
    padding-top: 5px;
    font-size: 30px;
    font-weight: 500;
}

.review-title .dash {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -17.5px;
    width: 35px;
    border-bottom: 3px solid #d70174;
}

.review-title .dash::before {
    content: '';
    position: absolute;
    top: 0;
    left: -45px;
    width: 35px;
    border-bottom: 3px solid #00a4e5;
}

.review-title .dash::after {
    content: '';
    position: absolute;
    top: 0;
    right: -45px;
    width: 35px;
    border-bottom: 3px solid #f1ed00;
}

.review-card {
    padding: 25px;
    margin-bottom: 15px;
    background: #fff;
}

.review-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.review-card_img img {
    max-width: 70px;
}

.review-card_title {
    padding-left: 25px;
    max-width: 530px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.review-content ul {
    list-style: none;
    padding: 0;
}

.review-content li {
    position: relative;
    padding: 0 0 15px 20px;
}

.review-content li:last-child {
    padding-bottom: 0;
}

.review-content li::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 2px;
    width: 7px;
    height: 7px;
    border: 2px solid #00a4e5;
    border-radius: 50%;
    ;
}

.review-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}

.review-bottom_img {
    max-width: 230px;
    max-height: 130px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.review-bottom_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review-blockquote {
    position: relative;
    padding: 35px 40px 35px 60px;
    font-size: 13px;
}

.review-blockquote::after {
    content: '”';
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 70px;
    line-height: 0;
    color: #dcdcdf;
    font-weight: 700;
}

.review-blockquote::before {
    content: '“';
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 70px;
    line-height: 54px;
    color: #dcdcdf;
    font-weight: 700;
}

.review-content .tns-nav {
    display: none;
}

/* stock */
.stock-2 {
    padding: 60px 0 80px;
    background: #f8f9fa url('../images/book2-bg.png') no-repeat bottom / cover;
    text-transform: uppercase;
}

.stock-2 .stock-left {
    max-width: 520px;
    width: 50%;
}

.stock-2 .stock-title {
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 900;
    color: #fff;
}

.stock-2 .text-blue {
    color: #00a4e5;
}

.stock-2 .stock-text {
    margin-bottom: 30px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: none;
}

.stock-2 .btn-primary {
    display: inline-block;
}

/* review-2 */
.review-2 {
    padding: 70px 0 80px;
    background: #f8f9fa;
}

.review-2 .review-title {
    position: relative;
    max-width: 750px;
    padding-bottom: 20px;
    margin: 0 auto 40px;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.review-2 .review-content {
    display: flex;
    flex-direction: row;
}

.review-2 .review-card {
    flex-basis: 50%;
    padding: 25px;
    margin: 0 7px;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
}

.review-2 .review-card_img {
    margin: -15px -15px 0;
}

.review-2 .review-card_img img {
    max-width: unset;
    width: 100%;
}

.review-2 .review-card_title {
    padding: 10px 0;
    max-width: unset;
}

.review-2 .review-card_text {
    margin-bottom: 20px;
}

.review-2 .review-blockquote {
    position: relative;
    padding: 30px 0px 30px;
}

.review-2 .review-blockquote::before {
    left: 0;
}

/* facts */
.facts {
    padding: 70px 0;
    background: #192132;
}

.facts-title {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.facts .text-blue {
    color: #00a4e5;
}

.facts-title .dash {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -17.5px;
    width: 35px;
    border-bottom: 3px solid #d70174;
}

.facts-title .dash::before {
    content: '';
    position: absolute;
    top: 0;
    left: -45px;
    width: 35px;
    border-bottom: 3px solid #00a4e5;
}

.facts-title .dash::after {
    content: '';
    position: absolute;
    top: 0;
    right: -45px;
    width: 35px;
    border-bottom: 3px solid #f1ed00;
}

.facts-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}

.facts-card {
    flex-basis: 25%;
}

.facts-card_title {
    display: inline-block;
    font-size: 50px;
    line-height: 50px;
    font-weight: 900;
    color: #d70174;
    border-bottom: 3px solid #f1ed00;
}

.facts-card_text {
    padding-top: 15px;
    color: #fff;
    max-width: 265px;
    font-size: 16px;
    font-weight: 400;
}

/* about 2 */
.about-2 {
    padding: 70px 0 80px;
    background: #f8f9fa;
}

.about-2-title {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.about-2-subtitle {
    display: block;
    padding-top: 5px;
    font-size: 30px;
    font-weight: 500;
}

.about-2-title .dash {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -17.5px;
    width: 35px;
    border-bottom: 3px solid #d70174;
}

.about-2-title .dash::before {
    content: '';
    position: absolute;
    top: 0;
    left: -45px;
    width: 35px;
    border-bottom: 3px solid #00a4e5;
}

.about-2-title .dash::after {
    content: '';
    position: absolute;
    top: 0;
    right: -45px;
    width: 35px;
    border-bottom: 3px solid #f1ed00;
}

.about-2-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -7px;
}

.about-2-content .about-2-card {
    position: relative;
    padding: 7px;
    width: 50%;
    box-sizing: border-box;
}

.about-2-content .about-2-card-inner {
    position: relative;
    height: 100%;
    padding: 40px 30px;
    background: #fff;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
}

.about-2-content .about-2-card_img img {
    max-width: 75px;
}

.about-2-card_title {
    padding: 15px 0;
    max-width: unset;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.about-2-text {
    margin-top: 30px;
}

.about-creator {
    padding-right: 25px;
}

.about-creator img {
    max-width: 200px;
    margin-bottom: 10px;
    border: 7px solid #f2f2f2;
}

.about-creator-title {
    font-size: 20px;
    font-weight: 700;
}

.about-2-text .about-2-card_title {
    padding: 0;
}

.about-video {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px -15px 0;
}

.about-video-card {
    position: relative;
    width: 33%;
    padding: 0 15px;
}

.about-video-card_video {
    margin-bottom: 20px;
    max-width: 350px;
    max-height: 350px;
    height: 100%;
    width: 100%;
    border: 7px solid #fff;
    overflow: hidden;
}

.about-video-card_video::before {
    content: '';
    position: absolute;
    top: -1px;
    right: 11px;
    z-index: 3;
    width: 10px;
    height: 10px;
    border-bottom: solid 29px #f8f9fa;
    border-left: solid 29px #f8f9fa;
    border-right: solid 29px transparent;
    border-top: solid 29px transparent;
    transform: rotate(180deg);
    box-sizing: border-box;
}

.about-video-card_video::after {
    content: '';
    position: absolute;
    top: 4px;
    right: 18px;
    z-index: 2;
    width: 10px;
    height: 10px;
    border-bottom: solid 29px #fff;
    border-left: solid 29px #fff;
    border-right: solid 29px transparent;
    border-top: solid 29px transparent;
    transform: rotate(180deg);
    box-sizing: border-box;
}

/* our customers */
.customers {
    padding: 70px 0 80px;
}

.customers-title {
    position: relative;
    max-width: 870px;
    padding-bottom: 20px;
    margin: 0 auto 40px;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.customers-title .dash {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -17.5px;
    width: 35px;
    border-bottom: 3px solid #d70174;
}

.customers-title .dash::before {
    content: '';
    position: absolute;
    top: 0;
    left: -45px;
    width: 35px;
    border-bottom: 3px solid #00a4e5;
}

.customers-title .dash::after {
    content: '';
    position: absolute;
    top: 0;
    right: -45px;
    width: 35px;
    border-bottom: 3px solid #f1ed00;
}

.customers-content {}

.customers-item {
    flex: 1 1 10%;
    padding: 5px 15px;
    text-align: center;
    overflow: hidden;
}

.customers-content .tns-item {
    opacity: 0.4;
    filter: grayscale(1);
    transition: all 0.2s ease-in;
}

.customers-content .tns-item:hover {
    opacity: 1;
    filter: grayscale(0);
}

.customers .tns-controls,
.customers .tns-nav,
.customers [data-action="stop"] {
    display: none !important;
}

.customers-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* clients */
.clients {
    padding: 70px 0 80px;
    background: #192132;
}

.clients .review-title {
    position: relative;
    max-width: 750px;
    padding-bottom: 20px;
    margin: 0 auto 40px;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.clients .review-content {
    position: relative;
    display: block;
    flex-direction: unset;
}

.clients .review-slider {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.clients .review-card {
    flex-basis: unset;
    padding: 35px;
    margin: 0;
    height: 100%;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
}

.clients .review-card_title {
    text-align: center;
    padding: 0;
    margin: 15px 0 5px;
}

.clients .review-card_subtitle {
    text-align: center;
}

.clients .review-card_text {
    margin-top: 25px;
}

.clients .review-card_text b {
    font-size: 16px;
}

.clients .review-card_text img {
    width: 100%;
}

.clients .review-card_img {
    margin: 0 auto;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
}

.clients .review-card_img img {
    max-width: unset;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.clients .tns-outer {
    position: relative;
}

.clients .prev {
    position: absolute;
    top: 50%;
    left: -40px;
    z-index: 5;
    background: #00a4e5;
    width: 50px;
    height: 50px;
    outline: none;
    cursor: pointer;
    transition: all 0.1s ease-in;
}

.clients .prev::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -9px 0 0 -6px;
    width: 14px;
    height: 14px;
    border-left: 4px solid #000;
    border-bottom: 4px solid #000;
    transform: rotate(45deg);
    transition: all 0.1s ease-in;
}

.clients .next {
    position: absolute;
    top: 50%;
    right: -40px;
    z-index: 5;
    background: #00a4e5;
    width: 50px;
    height: 50px;
    outline: none;
    cursor: pointer;
    transition: all 0.1s ease-in;
}

.clients .next::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -12px;
    width: 14px;
    height: 14px;
    border-top: 4px solid #000;
    border-right: 4px solid #000;
    transform: rotate(45deg);
    transition: all 0.1s ease-in;
}

.clients .next:hover::before,
.clients .prev:hover::before {
    opacity: 0.5;
}
.clients .next {
    right: -10px;
    top: 310px;
    width: 25px;
}

.clients .prev {
    left: -10px;
    top: 310px;
    width: 25px;
}

.clients .review-card-wrapper {
    position: relative;
    transition: all 0.2s ease-in;
}

.clients .review-card {
    position: relative;
    overflow: hidden;
    max-height: 600px;
    transition: 0.3s all ease-in;
}

.review-expand-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 20px);
    height: 70px;
}
.review-expand-btn::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.2s 0.6s ease-in;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 60%);
}

.review-expand-btn::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    margin-left: -15px;
    height: 15px;
    width: 15px;
    border-bottom: 3px solid #00a4e5;
    border-left: 3px solid #00a4e5;
    transform: rotate(-45deg);
    transition: all 0.2s ease;
}

.clients .review-card-wrapper.expand .review-card {
    max-height: 100%;
}

.clients .review-card-wrapper.expand .review-expand-btn::before {
    transition: opacity 0s ease-in;
}

.clients .review-card-wrapper.expand .review-expand-btn::after {
    transform: rotate(135deg);
}

/* how we work */
.how {
    padding: 70px 0 80px;
}

.how-title {
    position: relative;
    max-width: 870px;
    padding-bottom: 20px;
    margin: 0 auto 40px;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.how-subtitle {
    display: block;
    padding-top: 5px;
    font-size: 30px;
    font-weight: 500;
}

.how-title .dash {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -17.5px;
    width: 35px;
    border-bottom: 3px solid #d70174;
}

.how-title .dash::before {
    content: '';
    position: absolute;
    top: 0;
    left: -45px;
    width: 35px;
    border-bottom: 3px solid #00a4e5;
}

.how-title .dash::after {
    content: '';
    position: absolute;
    top: 0;
    right: -45px;
    width: 35px;
    border-bottom: 3px solid #f1ed00;
}

.how-content {
    display: flex;
    flex-direction: row;
}

.how-item {
    flex: 1 1 10%;
    padding: 5px;
    text-align: center;
}

.how-number {
    position: relative;
    width: 75px;
    padding: 5px;
    margin: 0 auto;
    font-size: 40px;
    font-weight: 900;
    color: #adafb5;
    border: 8px solid #f2f3f6;
    border-radius: 50%;
    box-sizing: border-box;
}

.how-text {
    padding-top: 10px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.how-number::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -40px;
    margin-top: -7px;
    width: 5px;
    height: 0;
    border-left: solid 10px #adafb5;
    border-bottom: solid 7px transparent;
    border-top: solid 7px transparent;
}

.how-item:last-child .how-number::after {
    content: none;
}

/* start */
.start {
    padding: 70px 0;
    background: url('../images/start-bg.jpg') no-repeat center / cover;
    text-transform: uppercase;
}

.start-title {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 900;
    color: #fff;
}

.start-subtitle {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    text-transform: none;
}

.start-subtitle a {
    font-size: 20px;
}

/* footer */
.footer {
    padding: 70px 0 30px;
    background: url('../images/footer-bg.png') no-repeat;
    background-position: -100px bottom;
    background-size: contain;
}

.footer-inner {
    display: flex;
    flex-direction: row;
    max-width: 1190px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}

.footer-left {
    padding-right: 30px;
}

.footer-title {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
}

.footer-subtitle {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
}

.footer-text {
    max-width: 180px;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.footer-contact {
    font-size: 16px;
    font-weight: 500;
}

.footer-contact a {
    margin-top: 10px;
}

.footer-contact img {
    max-width: 15px;
    padding-right: 5px;
    vertical-align: middle;
}

.footer-social {
    margin-top: 20px;
}

.footer-social img {
    padding: 0;
    margin-left: 8px;
    height: 18px;
    width: auto;
    max-width: unset;
}

.footer-copyright {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-copyright div {
    margin-top: 4px;
    text-decoration: underline;
    cursor: pointer;
}

.footer-copyright div:hover {
    color: #759cec;
}

.policy {
    margin: 20px auto 0;
    max-width: 550px;
    color: #fff;
    text-transform: none;
    text-align: center;
    opacity: 0.8;
    text-shadow: 0 0 41px rgba(0, 0, 0, 1);
}

.policy span {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

.policy span:hover {
    color: #759cec;
}

@media (max-width: 1260px) {
    .container {
        max-width: 1020px;
    }

    .btn-primary {
        padding: 20px 30px;
    }

    .btn-xs {
        padding: 10px 15px;
    }

    .services-example-content .services-card_img::before {
        right: 0;
    }

    .services-example-content .services-card_img::after {
        right: 5px;
    }

    .services-example-content .services-card_title {
        font-size: 18px;
    }

    .services-example-content .services-card_text {
        font-size: 14px;
    }

    .services-title,
    .about-title,
    .review-title,
    .review-2 .review-title,
    .facts-title,
    .about-2-title,
    .customers-title,
    .clients .review-title,
    .how-title {
        font-size: 33px;
    }

    .stock-2 .stock-title {
        font-size: 36px;
    }

    .about-video-card_video::after {
        right: 21px;
    }

    .about-video-card_video::before {
        right: 15px;
    }

    .about-video-card_video {
        margin-bottom: 20px;
        max-width: 300px;
        max-height: 300px;
    }

    .about-video-card_video iframe {
        width: 300px;
        height: 300px;
    }

    .how-number::after {
        right: -30px;
    }
}

@media (max-width: 1100px) {
    .about-video-card_video::after {
        right: 5px;
    }

    .about-video-card_video::before {
        right: 0;
    }

    .about-video-card_video {
        margin-bottom: 20px;
        max-width: unset;
        max-height: 250px;
    }

    .about-video-card_video iframe {
        width: 100%;
        height: 250px;
    }

    .clients {
        padding: 70px 50px;
    }

    .footer-left {
        width: 40%;
    }

    .footer-map {
        width: 60%;
    }

    .footer-map iframe {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .btn-xs {
        padding: 8px 10px;
        font-size: 12px;
    }

    .btn-primary {
        padding: 14px 30px;
        font-size: 16px;
    }

    .btn-xs {
        padding: 10px 15px;
    }

    .header-text {
        max-width: 280px;
        font-size: 14px;
        line-height: 20px;
    }

    .logo {
        max-height: 40px;
    }

    .header-phone {
        margin-bottom: 6px;
        font-size: 16px;
    }

    .header-mail {
        margin-bottom: 7px;
        font-size: 12px;
    }

    .header-phone img,
    .header-mail img {
        width: 20px;
    }

    .header-nav a {
        padding: 10px;
        font-size: 15px;
    }

    .header-nav a::after {
        top: 14px;
    }

    .main-bottom {
        padding: 30px 15px;
    }

    .main-form input {
        padding: 15px 5px 15px 35px;
    }

    .main-form img {
        left: 20px;
        top: 17px;
    }

    .services-example-content .services-card_img {
        max-width: unset;
        max-height: 200px;
        box-sizing: border-box;
    }

    .services-example-content .services-card_img::before {
        right: 14px;
    }

    .services-example-content .services-card_img::after {
        right: 19px;
    }

    .about-subtitle {
        max-width: 350px;
    }

    .how-content {
        flex-wrap: wrap;
        max-width: 600px;
        margin: 0 auto;
    }

    .how {
        padding: 70px 0 50px;
    }

    .how-item {
        margin-bottom: 30px;
        flex: 1 1 18%;
    }

    .how-number::after {
        right: -40px;
    }

    .how-item:nth-child(5) .how-number::after {
        display: none;
    }

}

@media (max-width: 960px) {
    body {
        overflow-x: hidden;
    }

    .main-form div {
        margin-right: 10px;
    }

    .main-title {
        max-width: 450px;
        font-size: 38px;
    }

    .main-list-item img {
        width: 40px;
    }

    .main-list-item div {
        max-width: 181px;
        font-size: 16px;
        line-height: 23px;
    }

    .main-list-item .small-text {
        font-size: 14px;
        display: block
    }

    .services-example-content .services-card_title {
        font-size: 16px;
        min-height: 60px;
    }

    .stock-title,
    .stock-title-white,
    .stock-title-blue {
        font-size: 30px;
    }

    .about-video-card_video {
        box-sizing: border-box;
    }

    .about-video-card_video::before {
        right: 14px;
    }

    .about-video-card_video::after {
        right: 20px;
    }

    .footer {
        padding: 40px 0 10px;
        background-position: bottom;
    }

    .footer-inner {
        flex-direction: column;
    }

    .footer-left,
    .footer-map {
        width: 100%;
        padding: 0 0 20px;
    }

    .footer-title {
        font-size: 30px;
    }

    .footer-subtitle {
        font-size: 16px;
    }

    .footer-text,
    .footer-contact {
        font-size: 14px;
    }

    .services-title,
    .about-title,
    .review-title,
    .review-2 .review-title,
    .facts-title,
    .about-2-title,
    .customers-title,
    .clients .review-title,
    .how-title {
        font-size: 27px;
    }

    .stock-2 .stock-title {
        font-size: 33px;
    }

    .review-subtitle,
    .services-subtitle {
        font-size: 23px;
    }

    .services-warranty_img img {
        max-width: 70px;
    }

    .services-warranty_title {
        font-size: 30px;
    }

    .services-warranty_text {
        font-size: 18px;
    }

    .stock-2 .stock-text {
        max-width: 440px;
        font-size: 18px;
    }

    .facts-card {
        padding: 0 10px;
    }

    .facts-card_title {
        font-size: 40px;
    }

    .facts-card_text {
        font-size: 14px;
    }
}

@media (max-width: 860px) {
    .header-text {
        display: none;
    }

    .logo {
        max-height: 43px;
    }
}

@media (max-width: 768px) {
    .btn-primary {
        padding: 15px 30px;
    }

    .main {
        position: relative;
    }

    .main::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: rgba(25, 33, 50, 0.6);
    }

    .main .container {
        position: relative;
        z-index: 2;
    }

    .main-title {
        max-width: 400px;
        font-size: 30px;
    }

    .main-list-item div {
        font-size: 15px;
        line-height: 20px;
    }

    .main-bottom-title {
        font-size: 18px;
    }

    .main-bottom-text {
        padding-bottom: 20px;
        font-size: 15px;
    }

    .main-form {
        max-width: 400px;
        margin: 0 auto;
        width: 100%;
        flex-direction: column;
    }

    .main-form div {
        width: 100%;
        margin: 0 0 15px;
    }

    .main-form .btn-primary {
        width: 100%;
    }

    .main-thanks {
        height: calc(100vh - 63px);
    }

    .main-thanks .main-title {
        font-size: 50px;
    }

    .main-text {
        font-size: 18px;
    }

    .services {
        padding: 40px 0;
    }

    .services-example-content {
        flex-wrap: wrap;
    }

    .services-example-content .services-card {
        margin-bottom: 30px;
        width: 50%;
        box-sizing: border-box;
    }

    .services-example-content .services-card_title {
        min-height: unset;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .stock,
    .review,
    .about,
    .review-2,
    .about-2,
    .customers,
    .clients,
    .start {
        padding: 50px 0;
    }

    .how {
        padding: 50px 0 20px;
    }

    .stock-title,
    .stock-title-white,
    .stock-title-blue {
        font-size: 26px;
    }

    .stock-title {
        margin-bottom: 10px;
    }

    .stock-2 .stock-title {
        font-size: 24px;
        max-width: 330px;
    }

    .services-title,
    .about-title,
    .review-title,
    .review-2 .review-title,
    .facts-title,
    .about-2-title,
    .customers-title,
    .clients .review-title,
    .how-title,
    .start-title {
        font-size: 22px;
    }

    .review-subtitle,
    .services-subtitle {
        font-size: 16px;
    }

    .start-subtitle {
        font-size: 14px;
    }

    .services-warranty_title {
        font-size: 22px;
    }

    .services-warranty_text {
        font-size: 14px;
    }

    .stock-2 .stock-text {
        max-width: 350px;
        font-size: 14px;
    }

    .review-card_title {
        font-size: 16px;
    }

    .services-content {
        flex-direction: column;
    }

    .services-content .services-card {
        width: 100%;
    }

    .services-content .services-card:nth-child(1)::before,
    .services-content .services-card:nth-child(3)::before,
    .services-content .services-card:nth-child(1)::after,
    .services-content .services-card:nth-child(3)::after,
    .services-content .triangle::before,
    .services-content .triangle::before {
        content: none;
    }

    .services-content .services-card_img img {
        max-width: 45px;
    }

    .services-content .services-card_title {
        font-size: 17px;
    }

    .services-warranty {
        padding: 30px 15px;
    }

    .services-warranty_img img {
        max-width: 50px;
    }

    .services-warranty_title {
        padding: 0 15px
    }

    .services-warranty_text {
        padding: 2px 0 2px 15px;
    }

    .about-subtitle {
        display: none;
    }

    .about-title-inner>div:first-child {
        text-align: center;
        margin: 0 auto;
        max-width: 500px;
    }

    .about-card {
        padding: 0 0 30px;
        flex-direction: column;
    }

    .about-card:last-child {
        flex-direction: column-reverse;
    }

    .about-card_title {
        font-size: 18px;
    }

    .review-card_img img {
        max-width: 50px;
    }

    .review-bottom_img {
        display: none;
    }

    .review-blockquote {
        padding: 35px 0px 35px 0px;
    }

    .review-blockquote::before {
        left: 0;
    }

    .stock-2 {
        position: relative;
        padding: 40px 0;
    }

    .stock-2::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(25, 33, 50, 0.8) 50%, rgba(25, 33, 50, 0) 90%);
    }

    .stock-2 .stock-left {
        position: relative;
        z-index: 3;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    .stock-2 .main-form {
        position: relative;
        z-index: 3;
    }

    .stock-2 .stock-title {
        max-width: 400px;
        margin-bottom: 15px;
        text-align: center;
    }

    .stock-2 .stock-text {
        text-align: center;
        margin: 0 auto 30px;
    }

    .review-2 .review-content {
        flex-direction: column;
    }

    .review-2 .review-card {
        margin: 0;
    }

    .review-2 .review-card:first-child {
        margin-bottom: 30px;
    }

    .facts {
        padding: 50px 0 30px;
    }

    .facts-content {
        padding-top: 0;
        flex-wrap: wrap;
    }

    .facts-card {
        margin-bottom: 20px;
        flex-basis: 50%;
        box-sizing: border-box;
    }

    .about-2-content {
        flex-direction: column;
    }

    .about-2-content .about-2-card {
        width: 100%;
    }

    .about-creator {
        padding-right: 0;
        padding-bottom: 25px;
        text-align: center;
    }

    .about-creator .about-creator-text {
        max-width: 270px;
        margin: 0 auto;
    }

    .about-video {
        flex-direction: column;
    }

    .about-video-card {
        width: 100%;
        box-sizing: border-box;
    }
}

@media (max-width: 610px) {
    .how-content {
        max-width: 230px;
    }

    .how-item {
        flex: 1 1 44%;
    }

    .how-item:nth-child(2n) .how-number::after {
        display: none;
    }

    .how-item:nth-child(5) .how-number::after {
        display: unset;
    }
}

@media (max-width: 570px) {
    .header-top .container {
        flex-direction: column;
    }

    .logo {
        max-height: 35px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .header-nav .toggle-menu-mob,
    .header-nav .burger-lines {
        top: 18px;
    }

    .header-contact {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .main-list-item div {
        text-shadow: 0 0 41px rgba(0, 0, 0, 1);
    }

    .main-thanks .main-title {
        font-size: 46px;
    }

    .main-text {
        font-size: 16px;
    }

    .main-thanks {
        height: calc(100vh - 55px);
    }

    .header-nav .nav {
        top: 55px;
    }

    .services-warranty {
        flex-wrap: wrap;
        justify-content: center;
    }

    .services-warranty_title {
        max-width: 140px;
    }

    .services-warranty_text {
        width: 100%;
        padding: 20px 0 0;
        border-left: 0;
    }

    .services-title,
    .about-title,
    .review-title,
    .review-2 .review-title,
    .facts-title,
    .about-2-title,
    .customers-title,
    .clients .review-title,
    .how-title {
        padding-bottom: 10px;
        margin-bottom: 25px;
    }

    .start-subtitle a {
        display: block;
    }
}

@media (max-width: 400px) {
    .facts-content {
        flex-direction: column;
    }
}

.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-column {
    flex-direction: column;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-around {
    justify-content: space-around;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

.align-baseline {
    align-items: baseline;
}

.align-stretch {
    align-items: stretch;
}

.align-self-start {
    align-self: flex-start;
}

.align-self-end {
    align-self: flex-end;
}

.align-self-center {
    align-self: center;
}

.align-self-baseline {
    align-self: baseline;
}

.align-self-auto {
    align-self: auto;
}

.align-self-stretch {
    align-self: stretch;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}

.align-content-start {
    align-content: flex-start;
}

.align-content-end {
    align-content: flex-end;
}

.align-content-center {
    align-content: center;
}

.align-content-space-between {
    align-content: space-between;
}

.align-content-space-around {
    align-content: space-around;
}

.align-content-stretch {
    align-content: stretch;
}

.flex-grow-0 {
    flex-grow: 0;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.flex-shrink-1 {
    flex-shrink: 1;
}

/* lg */
@media (min-width: 1200px) {
    .d-lg-flex {
        display: flex
    }

    .flex-lg-row {
        flex-direction: row
    }

    .flex-lg-row-reverse {
        flex-direction: row-reverse
    }

    .flex-lg-column {
        flex-direction: column
    }

    .flex-lg-column-reverse {
        flex-direction: column-reverse
    }

    .justify-lg-start {
        justify-content: flex-start;
    }

    .justify-lg-end {
        justify-content: flex-end;
    }

    .justify-lg-center {
        justify-content: center;
    }

    .justify-lg-space-between {
        justify-content: space-between;
    }

    .justify-lg-space-around {
        justify-content: space-around;
    }

    .align-lg-start {
        align-items: flex-start;
    }

    .align-lg-end {
        align-items: flex-end;
    }

    .align-lg-center {
        align-items: center;
    }

    .align-lg-baseline {
        align-items: baseline;
    }

    .align-lg-stretch {
        align-items: stretch;
    }

    .align-lg-self-start {
        align-self: flex-start;
    }

    .align-lg-self-end {
        align-self: flex-end;
    }

    .align-lg-self-center {
        align-self: center;
    }

    .align-lg-self-baseline {
        align-self: baseline;
    }

    .align-lg-self-auto {
        align-self: auto;
    }

    .align-lg-self-stretch {
        align-self: stretch;
    }

    .flex-lg-nowrap {
        flex-wrap: nowrap;
    }

    .flex-lg-wrap {
        flex-wrap: wrap;
    }

    .flex-lg-wrap-reverse {
        flex-wrap: wrap-reverse;
    }

    .align-lg-content-start {
        align-content: flex-start;
    }

    .align-lg-content-end {
        align-content: flex-end;
    }

    .align-lg-content-center {
        align-content: center;
    }

    .align-lg-content-space-between {
        align-content: space-between;
    }

    .align-lg-content-space-around {
        align-content: space-around;
    }

    .align-lg-content-stretch {
        align-content: stretch;
    }

    .flex-lg-grow-0 {
        flex-grow: 0;
    }

    .flex-lg-grow-1 {
        flex-grow: 1;
    }

    .flex-lg-shrink-0 {
        flex-shrink: 0;
    }

    .flex-lg-shrink-1 {
        flex-shrink: 1;
    }
}

/* md */
@media (max-width: 1199px) {
    .d-md-flex {
        display: flex
    }

    .flex-md-row {
        flex-direction: row
    }

    .flex-md-row-reverse {
        flex-direction: row-reverse
    }

    .flex-md-column {
        flex-direction: column
    }

    .flex-md-column-reverse {
        flex-direction: column-reverse
    }

    .justify-md-start {
        justify-content: flex-start;
    }

    .justify-md-end {
        justify-content: flex-end;
    }

    .justify-md-center {
        justify-content: center;
    }

    .justify-md-space-between {
        justify-content: space-between;
    }

    .justify-md-space-around {
        justify-content: space-around;
    }

    .align-md-start {
        align-items: flex-start;
    }

    .align-md-end {
        align-items: flex-end;
    }

    .align-md-center {
        align-items: center;
    }

    .align-md-baseline {
        align-items: baseline;
    }

    .align-md-stretch {
        align-items: stretch;
    }

    .align-md-self-start {
        align-self: flex-start;
    }

    .align-md-self-end {
        align-self: flex-end;
    }

    .align-md-self-center {
        align-self: center;
    }

    .align-md-self-baseline {
        align-self: baseline;
    }

    .align-md-self-auto {
        align-self: auto;
    }

    .align-md-self-stretch {
        align-self: stretch;
    }

    .flex-md-nowrap {
        flex-wrap: nowrap;
    }

    .flex-md-wrap {
        flex-wrap: wrap;
    }

    .flex-md-wrap-reverse {
        flex-wrap: wrap-reverse;
    }

    .align-md-content-start {
        align-content: flex-start;
    }

    .align-md-content-end {
        align-content: flex-end;
    }

    .align-md-content-center {
        align-content: center;
    }

    .align-md-content-space-between {
        align-content: space-between;
    }

    .align-md-content-space-around {
        align-content: space-around;
    }

    .align-md-content-stretch {
        align-content: stretch;
    }

    .flex-md-grow-0 {
        flex-grow: 0;
    }

    .flex-md-grow-1 {
        flex-grow: 1;
    }

    .flex-md-shrink-0 {
        flex-shrink: 0;
    }

    .flex-md-shrink-1 {
        flex-shrink: 1;
    }
}

/* sm */
@media (max-width: 991px) {
    .d-sm-flex {
        display: flex
    }

    .flex-sm-row {
        flex-direction: row
    }

    .flex-sm-row-reverse {
        flex-direction: row-reverse
    }

    .flex-sm-column {
        flex-direction: column
    }

    .flex-sm-column-reverse {
        flex-direction: column-reverse
    }

    .justify-sm-start {
        justify-content: flex-start;
    }

    .justify-sm-end {
        justify-content: flex-end;
    }

    .justify-sm-center {
        justify-content: center;
    }

    .justify-sm-space-between {
        justify-content: space-between;
    }

    .justify-sm-space-around {
        justify-content: space-around;
    }

    .align-sm-start {
        align-items: flex-start;
    }

    .align-sm-end {
        align-items: flex-end;
    }

    .align-sm-center {
        align-items: center;
    }

    .align-sm-baseline {
        align-items: baseline;
    }

    .align-sm-stretch {
        align-items: stretch;
    }

    .align-sm-self-start {
        align-self: flex-start;
    }

    .align-sm-self-end {
        align-self: flex-end;
    }

    .align-sm-self-center {
        align-self: center;
    }

    .align-sm-self-baseline {
        align-self: baseline;
    }

    .align-sm-self-auto {
        align-self: auto;
    }

    .align-sm-self-stretch {
        align-self: stretch;
    }

    .flex-sm-nowrap {
        flex-wrap: nowrap;
    }

    .flex-sm-wrap {
        flex-wrap: wrap;
    }

    .flex-sm-wrap-reverse {
        flex-wrap: wrap-reverse;
    }

    .align-sm-content-start {
        align-content: flex-start;
    }

    .align-sm-content-end {
        align-content: flex-end;
    }

    .align-sm-content-center {
        align-content: center;
    }

    .align-sm-content-space-between {
        align-content: space-between;
    }

    .align-sm-content-space-around {
        align-content: space-around;
    }

    .align-sm-content-stretch {
        align-content: stretch;
    }

    .flex-sm-grow-0 {
        flex-grow: 0;
    }

    .flex-sm-grow-1 {
        flex-grow: 1;
    }

    .flex-sm-shrink-0 {
        flex-shrink: 0;
    }

    .flex-sm-shrink-1 {
        flex-shrink: 1;
    }
}

/* xs */
@media (max-width: 767px) {
    .d-xs-flex {
        display: flex
    }

    .flex-xs-row {
        flex-direction: row
    }

    .flex-xs-row-reverse {
        flex-direction: row-reverse
    }

    .flex-xs-column {
        flex-direction: column
    }

    .flex-xs-column-reverse {
        flex-direction: column-reverse
    }

    .justify-xs-start {
        justify-content: flex-start;
    }

    .justify-xs-end {
        justify-content: flex-end;
    }

    .justify-xs-center {
        justify-content: center;
    }

    .justify-xs-space-between {
        justify-content: space-between;
    }

    .justify-xs-space-around {
        justify-content: space-around;
    }

    .align-xs-start {
        align-items: flex-start;
    }

    .align-xs-end {
        align-items: flex-end;
    }

    .align-xs-center {
        align-items: center;
    }

    .align-xs-baseline {
        align-items: baseline;
    }

    .align-xs-stretch {
        align-items: stretch;
    }

    .align-xs-self-start {
        align-self: flex-start;
    }

    .align-xs-self-end {
        align-self: flex-end;
    }

    .align-xs-self-center {
        align-self: center;
    }

    .align-xs-self-baseline {
        align-self: baseline;
    }

    .align-xs-self-auto {
        align-self: auto;
    }

    .align-xs-self-stretch {
        align-self: stretch;
    }

    .flex-xs-nowrap {
        flex-wrap: nowrap;
    }

    .flex-xs-wrap {
        flex-wrap: wrap;
    }

    .flex-xs-wrap-reverse {
        flex-wrap: wrap-reverse;
    }

    .align-xs-content-start {
        align-content: flex-start;
    }

    .align-xs-content-end {
        align-content: flex-end;
    }

    .align-xs-content-center {
        align-content: center;
    }

    .align-xs-content-space-between {
        align-content: space-between;
    }

    .align-xs-content-space-around {
        align-content: space-around;
    }

    .align-xs-content-stretch {
        align-content: stretch;
    }

    .flex-xs-grow-0 {
        flex-grow: 0;
    }

    .flex-xs-grow-1 {
        flex-grow: 1;
    }

    .flex-xs-shrink-0 {
        flex-shrink: 0;
    }

    .flex-xs-shrink-1 {
        flex-shrink: 1;
    }
}